@font-face {
    font-family: Exo2-Bold;
    src: url(../font/Exo2-Bold.otf);
}

*{
    margin: 0px;
    
    body{
        background: url(../img/background_linear.png), url(../img/background.png) no-repeat top center;
        background-size: cover;

        header{

            >section{

                #navbar_container{
                    align-items: flex-start;
                    display: flex;
                    justify-content: space-between;
                    margin: 0px auto;
                    max-width: 1440px;
                    padding: 0px 115px 321px 87px;
                    
                    #navbar_list{
                        align-items: flex-start;
                        display: flex;
                        justify-content: space-between;
                        margin-top: 27px;
                        padding: 0px;
        
                        .navbar_item{
                            font: normal bold 20px/24px 'Exo2-Bold';
                            list-style: none;

                            a{
                                color: #ffffff;
                                text-decoration: none;
                            }

                            .active{
                                color: #ffeb3c;
                                text-decoration: underline;
                                text-decoration-thickness: 7px;
                            }
                        }
        
                        #navbar_home{
                            margin-right: 38px;
                        }
                    }
                }
            } 
        }  
        #splash_section{
            #splash_container{
                h1{
                    font: normal 700 60px/56px 'Exo2-Bold';
                    letter-spacing: 0.6px;
                }
            }
        }
    }
}