@font-face {
    font-family: Exo2-Bold;
    src: url(../font/Exo2-Bold.otf);
}

@font-face {
    font-family: Exo2-Regular;
    src: url(../font/Exo2-Regular.otf);
}

@font-face {
    font-family: Exo2-Light;
    src: url(../font/Exo2-Light.otf);
}

*{
    margin: 0px;
    
    body{
        background-image: url("../img/full_background.png");
        background-repeat: no-repeat;
        // background: url(../img/background_linear.png), url(../img/background.png) no-repeat top center;
        background-size: cover;
        height: 1px;

        header{

            >section{

                #navbar_container{
                    align-items: flex-start;
                    display: flex;
                    justify-content: space-between;
                    margin: 0px auto;
                    max-width: 1440px;
                    padding: 0px 115px 0px 87px;
                    
                    #navbar_list{
                        align-items: flex-start;
                        display: flex;
                        justify-content: space-between;
                        margin-top: 27px;
                        padding: 0px;
        
                        .navbar_item{
                            font: normal bold 20px/24px 'Exo2-Bold';
                            list-style: none;

                            a{
                                color: #ffffff;
                                text-decoration: none;
                            }

                            .active{
                                color: #ffeb3c;
                                text-decoration: underline;
                                text-decoration-thickness: 7px;
                            }
                        }
        
                        #navbar_home{
                            margin-right: 38px;
                        }
                    }
                }

                @media only screen and (max-width: 1439px){
                
                    #navbar_container{
                        max-width: 834px;
                        padding: 0px 63px 0px 65px;

                        img{
                            height: 129px;
                            width: 203px;
                        }
                        
                        #navbar_list{
                            margin-top: 25px;
            
                            .navbar_item{
                                font: normal bold 18px/22px 'Exo2-Bold';

                                .active{
                                    text-decoration-thickness: 3px;
                                }
                            }
            
                            #navbar_home{
                                margin-right: 38px;
                            }
                        }
                    }
                }

                @media screen and (max-width: 568px) {

                    #navbar_container{
                        padding: 0px 23px;
                    }
                    
                }

                @media screen and (max-width: 480px) {

                    #navbar_container{

                        img{
                            width: 113px;
                            height: 72.34px;
                        }

                        #navbar_list{
                            margin-top: 12px;
                            
                            .navbar_item{
                                font: normal bold 10px/12px 'Exo2-Bold';
                            }
                        }
                    }
                    
                }
                
                @media screen and (max-width: 302px) {
                    
                    #navbar_container{
                        display: block;
                        img{
                            display: none;
                        }
                    }
                }
            }
        }

        main{

            #banner_section{

                #banner_container{
                    margin: 0px auto;
                    max-width: 1440px;
                    padding: 36px 303px 82px 303px;

                    h1{
                        color: #ffffff;
                        font: normal bold 55px/66px 'Exo2-Bold';
                        letter-spacing: 0.05em;
                        margin: 0px auto;
                        text-align: center;
                        text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);

                        span{
                            color: #ffeb3c;
                        }
                    }
                }

                @media only screen and (max-width: 1439px){
                
                    #banner_container{
                        max-width: 834px;
                        padding: 28px 114px 56px 114px;
    
                        h1{
                            font: normal bold 40px/48px 'Exo2-Bold';
                        }
                    }
                }

                @media screen and (max-width: 860px) {

                    #banner_container{
                        padding: 28px 0px 56px 0px;
    
                        h1{
                            font: normal bold 40px/48px 'Exo2-Bold';
                        }
                    }
                }

                @media screen and (max-width: 480px) {

                    #banner_container{
                        padding: 42px 0px 24px 0px;
    
                        h1{
                            font: normal bold 14px/17px 'Exo2-Bold';
                        }
                    }
                }
                @media screen and (max-width: 302px) {

                    #banner_container{
                        padding: 24px 0px 24px 0px;
                    }
                }
            }

            #add_trainee_section{

                #add_trainee_container{
                    margin: 0px auto;
                    max-width: 1440px;
                    padding: 0px 168px 78px 168px;

                    >div{
                        display: flex;
                        justify-content: space-between;

                        button{
                            background-color: #0085FF;
                            border-radius: 3px;
                            border: transparent;
                            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                            color: #ffffff;
                            font: normal bold 20px/24px 'Exo2-Bold';
                            letter-spacing: 0.006em;
                            margin-bottom: 37px;
                            padding: 14px 30px 15px 28px;
                            &:hover{
                                background-color: #0059ff;
                                transition: 0.5s;
                            }
                        }

                        #add_trainee_search{
                            border-radius: 2px;
                            border: 1px solid #ffffff;
                            color: #ffffff;
                            font: normal 400 20px/24px 'Exo2-Regular';
                            height: 51px;
                            letter-spacing: 0.6px;
                            
                            input{
                                background-color: transparent;
                                border: transparent;
                                height: 51px;
                                padding: 12px 15px 13px 17px;
                                width: 200px;
                            }

                            input::placeholder{
                                color: #ffffff;
                            }

                            #add_trainee_search_input{
                                color: #ffffff;
                            }
                            #add_trainee_search_input:focus-visible{
                                outline: transparent;
                            }

                            button{
                                background-color: transparent;
                                border: transparent;
                                box-shadow: none;
                                color: #ffffff;
                                margin-bottom: 0px;
                                padding: 0px;
                                &:hover{
                                    background-color: #8db5ff;
                                    height: 48px;
                                    transition: 0.5s;
                                }

                                .fa-magnifying-glass{
                                    color: #ffffff;
                                    padding: 0px 17px;
                                    border-left: solid 0.5px #ffffff;
                                }
    
                            }
                        }
                    }

                    #add_trainee_list{
                        padding: 0px;

                        #add_trainee_group_header{
                            background-color: transparent;
                            box-shadow: none;
                            font: normal bold 20px/24px 'Exo2-Bold';
                            height: auto;
                            letter-spacing: 0.006em;
                            list-style: none;
                            margin: 0px 59px 39px 50px;
                            padding: 0px;
                            width: auto;

                            ul{
                                align-items: flex-start;
                                display: flex;
                                padding: 0px;
                                
                                .add_trainee_item{
                                    color: #333333;
                                    list-style: none;
                                    padding: 0px;
                                }

                                .head_name{
                                    min-width: 353px;
                                }

                                .head_specialization{
                                    min-width: 274px;
                                }

                                .head_recruiter{
                                    min-width: 254px;
                                }

                                .head_status{
                                    min-width: 172px;
                                    text-align: center;
                                }
                            }
                        }

                        .add_trainee_group{
                            background-color: #ffffff;
                            border-radius: 5px;
                            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
                            font: normal 400 20px/24px 'Exo2-Regular';
                            letter-spacing: 0.006em;
                            list-style: none;
                            margin-bottom: 10px;
                            padding: 0px 40px 0px 51px;
                            position: relative;

                            ul{
                                align-items: flex-start;
                                display: flex;
                                padding: 0px;
                                // overflow: hidden;

                                .add_trainee_item{
                                    color: #027abe;
                                    list-style: none;
                                    padding: 0px;
                                }

                                .name{
                                    min-width: 353px;
                                    padding: 16px 0px 18px 0px;
                                }

                                .specialization{
                                    min-width: 274px;
                                    padding: 16px 0px 18px 0px;
                                }

                                .recruiter{
                                    min-width: 254px;
                                    padding: 16px 0px 18px 0px;
                                }

                                .date{
                                    display: none;
                                }

                                .status{
                                    background-color: #46a1f4;
                                    border-radius: 0px 5px 5px 0px;
                                    color: #ffffff;
                                    min-height: 58px;
                                    min-width: 172px;
                                    padding: 16px 0px 18px 0px;
                                    position: relative;
                                    text-align: center;
                                    overflow: hidden;
                                    span{
                                        display: block;
                                    }

                                    &#status{
                                        .edit_delete_container{
                                            align-items: center;
                                            display: flex;
                                            position: absolute;
                                            transform: translate(0, -16px);
                                            width: 240px;
                                            transition: 0.5s;
                                            #edit_delete_icons{
                                                min-width: 172px;
                                                width: 172px;
                                            }
                                            &:hover{
                                                transform: translate(-172px, -16px);
                                            }
                                            span{
                                                min-width: 172px;
                                                padding: 17px 25px;
                                                width: 172px;
                                            }
                                        }
                                       
                                    }

                                    button{
                                        background-color: transparent;
                                        border: none;
                                        color: #ffffff;
                                        margin-right: 5px;
                                        padding: 0px;
                                    }

                                    button:last-child{
                                        margin-right: 0px;
                                    }
                                }

                                // .status:hover{
                                //     transition: 1s; 
                                // }

                                // .status:hover #edit_delete_icons{
                                //     transform: translate(0px, -16px) !important; 
                                // }

                                // .status:hover span{
                                //     display: none;
                                // }

                                #edit_delete_icons{
                                    align-items: center;
                                    background-color: #e26139;
                                    color: #fffffff;
                                    display: flex;
                                    height: 100%;
                                    justify-content: space-around;
                                    list-style-type: none;
                                    padding: 16px 0px 18px 0px;
                                    // position: absolute;
                                    // left: 200px;
                                    // top: 0px;
                                    transition: 0.5s;
                                    // width: 100%;


                                    
                                    button{

                                        i{
                                            color: #ffffff;
                                        }
                                    }
                                }
                            }
                        }

                        .add_trainee_group::before{
                            --scale: 0;
                            position: absolute;
                            top: -25px;
                            transform-origin: bottom left;
                            transform: translateX(205px) translateY(-25px) scale(var(--scale));
                            transition: 200ms transform;
                            
                        }

                        .add_trainee_group::after{
                            --scale: 0;
                            position: absolute;
                            top: -25px;
                            transform-origin: bottom left;
                            transform: translateX(205px) translateY(5px) scale(var(--scale));
                            transition: 200ms transform;
                            
                        }

                        .add_trainee_group::before{
                            background: #faff00;
                            border-radius: 10px;
                            color: #333333;
                            content: attr(data-tooltip);
                            filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.09));
                            font: normal 300 12px/14px 'Exo2-Light';
                            padding: 15px;
                            text-align: center;
                            width: max-content; 
                            max-width: 100%;
                        }

                        .add_trainee_group::after{
                            content: '';
                            // width: 10px;
                            // height: 10px;
                            border: 10px solid transparent;
                            border-left-color: #faff00;
                        }   

                        .add_trainee_group:hover::before,
                        .add_trainee_group:hover::after{
                            --scale: 1; 
                        }
                        
                        .add_trainee_group:last-child{
                            margin-bottom: 0px;
                        }
                    }

                    h2{
                        color: rgba(51, 51, 51, 0.25);                        
                        font: normal bold 40px/48px 'Exo2-Bold';
                        letter-spacing: 0.006em;
                        margin-top: 92px;
                        text-align: center;
                    }
                }

                @media only screen and (max-width: 1439px){

                    #add_trainee_container{
                        max-width: 834px;
                        padding: 0px 65px 49px 64px;
    
                        >div{
    
                            button{
                                font: normal bold 18px/22px 'Exo2-Bold';
                                margin-bottom: 29px;
                                padding: 14px 36px 14px 33px;
                            }
    
                            #add_trainee_search{
                                border: 2px solid #ffffff;
                                font: normal 400 18px/22px 'Exo2-Regular';
                                
                                input{
                                    padding: 12px 13px 17px 19px;
                                }
                            }
                        }
    
                        #add_trainee_list{
    
                            #add_trainee_group_header{
                                font: normal bold 20px/24px 'Exo2-Bold';
                                margin: 0px 57px 35px 30px;
    
                                ul{
    
                                    .head_name{
                                        min-width: 291px;
                                    }
    
                                    .head_specialization{
                                        min-width: 215px;
                                    }
    
                                    .head_recruiter{
                                        display: none;
                                    }
    
                                    .head_status{
                                        min-width: 172px;
                                        text-align: center;
                                    }
                                }
                            }
    
                            .add_trainee_group{
                                font: normal 400 18px/22px 'Exo2-Regular';
                                margin-bottom: 15px;
                                padding: 0px 0px 0px 30px;
    
                                ul{
    
                                    .name{
                                        min-width: 291px;
                                        padding: 24px 0px 16px 0px;
                                    }
    
                                    .specialization{
                                        min-width: 215px;
                                        padding: 24px 0px 16px 0px;
                                    }
    
                                    .recruiter{
                                        display: none;
                                    }
    
                                    .date{
                                        display: none;
                                    }
    
                                    .status{
                                        min-height: 62px;
                                        min-width: 172px;
                                        padding: 24px 0px 16px 0px;
    
                                        &#status{

                                            .edit_delete_container{
                                                transform: translate(0, -24px);
                                                width: 240px;
                                                height: 100%;
                                                // transition: 0.5s;

                                                #edit_delete_icons{
                                                    min-width: 172px;
                                                    width: 172px;
                                                }
                                                &:hover{
                                                    transform: translate(-172px, -24px);
                                                    height: 100%;
                                                }
                                                span{
                                                    min-width: 172px;
                                                    padding: 0px;
                                                    width: 172px;
                                                }
                                            }  
                                        }
                                    }
                                }
                            }
    
                            .add_trainee_group::before{
                                transform: translateX(150px) translateY(-10px) scale(var(--scale)); 
                            }
    
                            .add_trainee_group::after{
                                transform: translateX(150px) translateY(20px) scale(var(--scale));
                            }  
                        }
    
                        h2{
                            margin-top: 90px;
                        }
                    }
                }

                @media only screen and (max-width: 850px){

                    #add_trainee_container{
                        max-width: 834px;
                        padding: 0px 65px 49px 64px;
    
                        >div{
    
                            button{
                                font: normal bold 18px/22px 'Exo2-Bold';
                                margin-bottom: 29px;
                                padding: 14px 36px 14px 33px;
                            }
    
                            #add_trainee_search{
                                border: 2px solid #ffffff;
                                font: normal 400 18px/22px 'Exo2-Regular';
                                
                                input{
                                    padding: 12px 13px 17px 19px;
                                }
                            }
                        }
    
                        #add_trainee_list{
    
                            #add_trainee_group_header{
                                font: normal bold 20px/24px 'Exo2-Bold';
                                margin: 0px 57px 35px 30px;
    
                                ul{
    
                                    .head_name{
                                        min-width: 48%;
                                    }
    
                                    .head_specialization{
                                        min-width: 35%;
                                    }
    
                                    .head_recruiter{
                                        display: none;
                                    }
    
                                    .head_status{
                                        min-width: 172px;
                                        text-align: center;
                                    }
                                }
                            }
    
                            .add_trainee_group{
                                font: normal 400 10px/12px 'Exo2-Regular';
                                margin-bottom: 15px;
                                padding: 0px 0px 0px 30px;
    
                                ul{
    
                                    .name{
                                        min-width: 43.1%;
                                        padding: 24px 0px 16px 0px;
                                    }
    
                                    .specialization{
                                        min-width: 31.5%;
                                        padding: 24px 0px 16px 0px;
                                    }
    
                                    .recruiter{
                                        display: none;
                                    }
    
                                    .date{
                                        display: none;
                                    }
    
                                    .status{
                                        min-height: 62px;
                                        min-width: 172px;
                                        // min-width: 25.5%;
                                        padding: 24px 0px 16px 0px;
    
                                        &#status{

                                            .edit_delete_container{
                                                transform: translate(0, -24px);
                                                width: 240px;
                                                height: 100%;
                                                // transition: 0.5s;

                                                #edit_delete_icons{
                                                    min-width: 172px;
                                                    width: 172px;
                                                }
                                                &:hover{
                                                    transform: translate(-172px, -24px);
                                                    height: 100%;
                                                }
                                                span{
                                                    min-width: 172px;
                                                    padding: 0px;
                                                    width: 172px;
                                                }
                                            }  
                                        }
                                    }
                                }
                            }
    
                            .add_trainee_group::before{
                                transform: translateX(150px) translateY(-10px) scale(var(--scale)); 
                            }
    
                            .add_trainee_group::after{
                                transform: translateX(150px) translateY(20px) scale(var(--scale));
                            }  
                        }
    
                        h2{
                            margin-top: 90px;
                        }
                    }
                }
            }

            .hidden{
                display: none;
            }
        }

        footer{

            #footer_section{

                #footer_container{
                    background-color: #02244F;
                    margin: 0px auto;
                    padding: 148px 0px 147px 0px;
                    text-align: center;
                    &:hover{
                        transition: 0.3s;
                        background-color: #303878;
                    }
                    
                    h2{
                        color: #ffffff;
                        font: normal 40px/48px 'Exo2-Bold';
                        letter-spacing: 0.05em;
    
                        span{
                            color: #ffeb3c;
                        }
                    }
                }

                @media only screen and (max-width: 1439px){

                    #footer_container{
                        padding: 121px 0px 117px 0px;
                        
                        h2{
                            font: normal 32px/38px 'Exo2-Bold';
                        }
                    }
                }

                @media only screen and (max-width: 480px){

                    #footer_container{
                        padding: 0px;
                        
                        h2{
                            font: normal 700 12px/14px 'Exo2-Bold';
                            padding: 10px 0px;
                        }
                    }
                }
            }
        }

        // ADD & EDIT MODAL //
        .modal-dialog{
            margin-top: 150px;
            // max-width: 352px;
            max-width: 390px;

            .modal-content{

                .modal-header{
                    background-color: #5BA3FF;
                    height: 115px;
                    display: block;

                    #profileImage {
                        width: 150px;
                        height: 150px;
                        border-radius: 50%;
                        background: #512DA8;
                        font-size: 35px;
                        color: #fff;
                        text-align: center;
                        line-height: 150px;
                        margin: 0px auto;
                    }

                    #profile-container{
                        margin: 0px auto;
                        font-size: 35px;
                        color: #5B5B5B;
                        text-align: center;
                        -moz-border-radius: 50%;
                        -ms-border-radius: 50%;
                        -o-border-radius: 50%;
                        -webkit-border-radius: 50%;
                        border-radius: 50%;
                        border: solid 10px #5B5B5B ;
                        height: 150px;
                        overflow: hidden;
                        width: 150px;

                        .message{
                            display: none;
                        }

                        img{
                            height: 130px;
                            width: 130px;
                        }

                        #profile_image{
                            cursor: pointer;
                        }
                        .filethumbnail{
                            font: normal 700 80px/105px 'Exo2-Bold';
                            background-color: #fff;
                        }
                    }

                    #image_upload{
                        display: none;
                    }
                }

                .modal-body{
                    padding: 66px 35px 0px 35px;
                    .form_container{
                        text-align: justify;
                        &::after{
                            content: "";
                            display: inline-block;
                            width: 100%;
                        }

                        .form_label{
                            display: inline-block;

                            label{
                                color: #7C7D7D;
                                display: block;
                                font: normal 400 14px/41px 'Exo2-Regular';
                                letter-spacing: 0.6px;
                            }
                        }
                        .form_input{
                            display: inline-block;

                            .input_style{
                                background-color: #EFF7FB;
                                border-radius: 2px;
                                border: none;
                                color: #999;
                                display: block;
                                font: normal 400 14px/17px 'Exo2-Regular';
                                height: 40px;
                                letter-spacing: 0.6px;
                                margin-bottom: 10px;
                                padding: 0px 10px;
                                text-align: left;
                                width: 192px;
                            }
                            
                            .date_picker_container{
                                position: relative;

                                .date_icon{
                                    color: #999;
                                    position: absolute;
                                    right: 15px;
                                    top: 11px;
                                }
                            }

    
                            #datepicker{
                                color: #999;
                            }
    
                            select, .select_picker{
                                background-color: #EFF7FB;
                                border-radius: 2px;
                                border: none;
                                color: #333333;
                                display: block;
                                font: normal 400 14px/17px 'Exo2-Regular';
                                height: 40px;
                                letter-spacing: 0.6px;
                                margin-bottom: 10px;
                                padding: 0px;
                                text-align: left;
                                width: 192px;
                                .filter-option-inner-inner{
                                    // visibility: hidden;
                                    color: #999;
                                }
                                .option_style{
                                    h3{
                                        display: block;
                                    }
                                    p{
                                        display: block;
                                    }
                                }
                            }
                            .btn{
                                background-color: #EFF7FB;
                                width: 188px;
                                height: 36px;
                            }
                        }
                    }

                    .alert{
                        color: #ff0000;
                        display: none;
                        font: normal 50 14px/17px 'Exo2-Regular';
                        padding: 0px;	
                    }

                    .redactor{
                        display: block;

                        textarea{
                            background-color: #EFF7FB;
                            border-radius: 2px;
                            border: none;
                            color: #333333;
                            display: block;
                            font: normal 400 14px/17px 'Exo2-Regular';
                            height: 100px;
                            letter-spacing: 0.6px;
                            margin-bottom: 10px;
                            overflow: auto;
                            padding: 10px 10px;
                            resize: none;
                            text-align: left;
                            width: 100%;
                        }
                    }
                }

                .modal-footer{
                    border: none;
                    padding: 22px 35px 35px 35px;
                    text-align: justify;
                    &::after{
                        content: "";
                        display: inline-block;
                        width: 100%;
                    }
                    .cancel_btn{
                        display: inline-block;
                        vertical-align: top;
                        background-color: #ffffff;
                        width: 130px;
                        height: 36px;
                        color: #EF5353;
                        font: normal 400 14px/8px 'Exo2-Regular';
                        letter-spacing: 0.6px;
                        margin: 0px 50px 0px 0px;
                        border: none;
                        transition: 0.3s;
                        &:hover{
                            // border: solid 0.5px #E26139;
                            color: #ffffff;
                            background-color: #E26139;
                            border-radius: 2px;
                            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                        }
                    }
                    .save_btn{
                        display: inline-block;
                        vertical-align: top;
                        background-color: #0085FF;
                        width: 130px;
                        height: 36px;
                        color: #ffffff;
                        font: normal 400 14px/8px 'Exo2-Regular';
                        letter-spacing: 0.6px;
                        border: none;
                        border-radius: 2px;
                        margin: 0px;

                        &:hover{
                            transition: 0.3s;
                            background-color: #0059FF;
                            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                        }
                    }

                    .edit_save_btn{
                        display: inline-block;
                        vertical-align: top;
                        background-color: #0085FF;
                        width: 130px;
                        height: 36px;
                        color: #ffffff;
                        font: normal 400 14px/8px 'Exo2-Regular';
                        letter-spacing: 0.6px;
                        border: none;
                        border-radius: 2px;
                        margin: 0px;

                        &:hover{
                            transition: 0.3s;
                            background-color: #0059FF;
                            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                        }
                    }

                    .edit_cancel_btn{
                        display: inline-block;
                        vertical-align: top;
                        background-color: #ffffff;
                        width: 130px;
                        height: 36px;
                        color: #EF5353;
                        font: normal 400 14px/8px 'Exo2-Regular';
                        letter-spacing: 0.6px;
                        margin: 0px 50px 0px 0px;
                        border: none;
                        transition: 0.3s;

                        &:hover{
                            // border: solid 0.5px #E26139;
                            color: #ffffff;
                            background-color: #E26139;
                            border-radius: 2px;
                            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                        }
                    }
                }
            }
        }

        @media only screen and (max-width: 1439px){

        }

        // DELETE MODAL 
        #delete_trainee_modal{

            .modal-dialog{
                margin-top: 350px;
                max-width: 250px;

                .modal-content{
                    border-radius: 25px;

                    .modal-body{
                        padding: 0px;
                        text-align: center;

                        p{
                            margin: 0px;
                            padding: 20px 30px;
                            font: normal 400 14px/17px 'Exo2-Regular';
                            letter-spacing: 0.6px;
                            border-bottom: solid 1px #D9D9D9;
                        }

                        #trainee_id{
                            display: none;
                        }

                    }
                    .delete-modal-footer{
                        margin: 0px 47px;

                        .dm_confirm_btn{
                            border: none;
                            background-color: transparent;
                            font: normal 400 14px/17px 'Exo2-Regular';
                            letter-spacing: 0.6px;
                            color: #0ACF83;
                            padding: 20px 36px 20px 0px;
                        }

                        .dm_cancel_btn{
                            border: none;
                            background-color: transparent;
                            font: normal 400 14px/17px 'Exo2-Regular';
                            letter-spacing: 0.6px;
                            color: #EF5353;
                        }      
                    }
                }
            }
        }
    }

    //Toast
    .toast{
        // bottom: 0px;
        align-items: center;
        border-radius: 7px;
        color: #ffffff;
        display: flex;
        padding: 20px;
        position: absolute;
        right: 50px;
        top: 50px;
        transition: 0.5s;
        width: max-content;
        
        .toast_body{

            span{
                font: normal bold 20px/24px 'Exo2-Bold';
                vertical-align: middle;
            }
        }
    }

    #saved_toast{
        background-color: #00a86b;
    }

    #deleted_toast{
        background-color: #E26139;
    }
}