@font-face {
  font-family: Exo2-Bold;
  src: url(../font/Exo2-Bold.otf);
}
@font-face {
  font-family: Exo2-Regular;
  src: url(../font/Exo2-Regular.otf);
}
@font-face {
  font-family: Exo2-Light;
  src: url(../font/Exo2-Light.otf);
}
* {
  margin: 0px;
  scroll-behavior: smooth;
}
* body {
  background-image: url("../img/full_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 1px;
}
* body header > section #navbar_container {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
  max-width: 1440px;
  padding: 0px 115px 0px 87px;
}
* body header > section #navbar_container #navbar_list {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin-top: 27px;
  padding: 0px;
}
* body header > section #navbar_container #navbar_list .navbar_item {
  font: normal bold 20px/24px 'Exo2-Bold';
  list-style: none;
}
* body header > section #navbar_container #navbar_list .navbar_item:hover a {
  opacity: 0.8;
  transition: 0.21s;
}
* body header > section #navbar_container #navbar_list .navbar_item a {
  color: #ffffff;
  text-decoration: none;
}
* body header > section #navbar_container #navbar_list .navbar_item .active {
  color: #ffeb3c;
  text-decoration-thickness: 7px;
  text-decoration: underline;
}
* body header > section #navbar_container #navbar_list #navbar_home {
  margin-right: 38px;
}
@media only screen and (max-width: 1439px) {
  * body header > section #navbar_container {
    max-width: 834px;
    padding: 0px 63px 0px 65px;
  }
  * body header > section #navbar_container img {
    height: 129px;
    width: 203px;
  }
  * body header > section #navbar_container #navbar_list {
    margin-top: 25px;
  }
  * body header > section #navbar_container #navbar_list .navbar_item {
    font: normal bold 18px/22px 'Exo2-Bold';
  }
  * body header > section #navbar_container #navbar_list .navbar_item .active {
    text-decoration-thickness: 3px;
  }
  * body header > section #navbar_container #navbar_list #navbar_home {
    margin-right: 38px;
  }
}
@media screen and (max-width: 877) {
  * body header > section #navbar_container img {
    height: 90px;
    width: 300px;
  }
}
@media screen and (max-width: 568px) {
  * body header > section #navbar_container {
    padding: 0px 23px;
  }
}
@media screen and (max-width: 480px) {
  * body header > section #navbar_container img {
    height: 72.34px;
    width: 113px;
  }
  * body header > section #navbar_container #navbar_list {
    margin-top: 12px;
  }
  * body header > section #navbar_container #navbar_list .navbar_item {
    font: normal bold 10px/12px 'Exo2-Bold';
  }
}
@media screen and (max-width: 302px) {
  * body header > section #navbar_container {
    display: block;
  }
  * body header > section #navbar_container img {
    display: none;
  }
}
* body main #banner_section #banner_container {
  margin: 0px auto;
  max-width: 1440px;
  padding: 36px 0px 82px 0px;
}
* body main #banner_section #banner_container h1 {
  color: #ffffff;
  font: normal bold 55px/66px 'Exo2-Bold';
  letter-spacing: 0.05em;
  margin: 0px auto;
  text-align: center;
  text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}
* body main #banner_section #banner_container h1 span {
  color: #ffeb3c;
}
@media only screen and (max-width: 1439px) {
  * body main #banner_section #banner_container {
    max-width: 834px;
    padding: 28px 114px 56px 114px;
  }
  * body main #banner_section #banner_container h1 {
    font: normal bold 40px/48px 'Exo2-Bold';
  }
}
@media screen and (max-width: 860px) {
  * body main #banner_section #banner_container {
    padding: 28px 0px 56px 0px;
  }
  * body main #banner_section #banner_container h1 {
    font: normal bold 40px/48px 'Exo2-Bold';
  }
}
@media screen and (max-width: 480px) {
  * body main #banner_section #banner_container {
    padding: 42px 0px 24px 0px;
  }
  * body main #banner_section #banner_container h1 {
    font: normal bold 14px/17px 'Exo2-Bold';
  }
}
@media screen and (max-width: 302px) {
  * body main #banner_section #banner_container {
    padding: 24px 0px 24px 0px;
  }
}
* body main #add_trainee_section #add_trainee_container {
  margin: 0px auto;
  max-width: 1440px;
  padding: 0px 168px 78px 168px;
}
* body main #add_trainee_section #add_trainee_container > div {
  display: flex;
  justify-content: space-between;
}
* body main #add_trainee_section #add_trainee_container > div button {
  background-color: #0085FF;
  border-radius: 3px;
  border: transparent;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  color: #ffffff;
  font: normal bold 20px/24px 'Exo2-Bold';
  letter-spacing: 0.006em;
  margin-bottom: 37px;
  padding: 14px 30px 15px 28px;
}
* body main #add_trainee_section #add_trainee_container > div button:hover {
  background-color: #0059ff;
  transition: 0.5s;
}
* body main #add_trainee_section #add_trainee_container > div #add_trainee_search {
  border-radius: 2px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font: normal 400 20px/24px 'Exo2-Regular';
  height: 51px;
  letter-spacing: 0.6px;
}
* body main #add_trainee_section #add_trainee_container > div #add_trainee_search input {
  background-color: transparent;
  border: transparent;
  height: 51px;
  padding: 12px 15px 13px 17px;
  width: 200px;
}
* body main #add_trainee_section #add_trainee_container > div #add_trainee_search input::placeholder {
  color: #ffffff;
}
* body main #add_trainee_section #add_trainee_container > div #add_trainee_search #add_trainee_search_input {
  color: #ffffff;
}
* body main #add_trainee_section #add_trainee_container > div #add_trainee_search #add_trainee_search_input:focus-visible {
  outline: transparent;
}
* body main #add_trainee_section #add_trainee_container > div #add_trainee_search button {
  background-color: transparent;
  border: transparent;
  box-shadow: none;
  color: #ffffff;
  margin-bottom: 0px;
  padding: 0px;
}
* body main #add_trainee_section #add_trainee_container > div #add_trainee_search button:hover {
  background-color: #8db5ff;
  height: 48px;
  transition: 0.5s;
}
* body main #add_trainee_section #add_trainee_container > div #add_trainee_search button .fa-magnifying-glass {
  border-left: solid 0.5px #ffffff;
  color: #ffffff;
  padding: 0px 17px;
}
* body main #add_trainee_section #add_trainee_container #add_trainee_list {
  padding: 0px;
}
* body main #add_trainee_section #add_trainee_container #add_trainee_list #add_trainee_group_header {
  background-color: transparent;
  box-shadow: none;
  font: normal bold 20px/24px 'Exo2-Bold';
  height: auto;
  letter-spacing: 0.006em;
  list-style: none;
  margin: 0px 59px 39px 50px;
  padding: 0px;
  width: auto;
}
* body main #add_trainee_section #add_trainee_container #add_trainee_list #add_trainee_group_header ul {
  align-items: flex-start;
  display: flex;
  padding: 0px;
}
* body main #add_trainee_section #add_trainee_container #add_trainee_list #add_trainee_group_header ul .add_trainee_item {
  color: #333333;
  list-style: none;
  padding: 0px;
}
* body main #add_trainee_section #add_trainee_container #add_trainee_list #add_trainee_group_header ul .head_name {
  min-width: 353px;
}
* body main #add_trainee_section #add_trainee_container #add_trainee_list #add_trainee_group_header ul .head_specialization {
  min-width: 274px;
}
* body main #add_trainee_section #add_trainee_container #add_trainee_list #add_trainee_group_header ul .head_recruiter {
  min-width: 254px;
}
* body main #add_trainee_section #add_trainee_container #add_trainee_list #add_trainee_group_header ul .head_status {
  min-width: 172px;
  text-align: center;
}
* body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group {
  background-color: #FDFDFD;
  border-radius: 5px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
  font: normal 400 20px/24px 'Exo2-Regular';
  letter-spacing: 0.006em;
  list-style: none;
  margin-bottom: 10px;
  padding: 0px 40px 0px 51px;
  position: relative;
}
* body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group:hover {
  background-color: #fff;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 0.5px;
  opacity: 0.9;
  transition: 0.3s;
}
* body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul {
  align-items: flex-start;
  display: flex;
  padding: 0px;
}
* body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .add_trainee_item {
  color: #027abe;
  list-style: none;
  padding: 0px;
}
* body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .name {
  min-width: 353px;
  padding: 16px 0px 18px 0px;
}
* body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .specialization {
  min-width: 274px;
  padding: 16px 0px 18px 0px;
}
* body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .recruiter {
  min-width: 254px;
  padding: 16px 0px 18px 0px;
}
* body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .date {
  display: none;
}
* body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .status {
  background-color: #46a1f4;
  border-radius: 0px 5px 5px 0px;
  color: #ffffff;
  min-height: 58px;
  min-width: 172px;
  overflow-clip-margin: 10px;
  overflow: clip;
  padding: 16px 0px 18px 0px;
  position: relative;
  text-align: center;
}
* body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .status .trainee_status_text {
  display: block;
  text-align: center;
}
* body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .status.status .edit_delete_container {
  align-items: center;
  display: flex;
  position: absolute;
  transform: translate(0, -35px);
  transition: 0.5s;
  width: 240px;
}
* body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .status.status .edit_delete_container:hover {
  transform: translate(-172px, -35px);
}
* body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .status.status .edit_delete_container:hover .edit_delete_icons {
  visibility: visible;
}
* body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .status.status .edit_delete_container .edit_delete_icons {
  background-color: transparent;
  border-radius: 0px 5px 5px 0px;
  min-width: 172px;
  position: relative;
  visibility: hidden;
  width: 172px;
}
* body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .status.status .edit_delete_container .edit_delete_icons li {
  margin-top: 3px;
}
* body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .status.status .edit_delete_container .edit_delete_icons li .edit {
  background-color: #00a86b;
  height: 58px;
  margin: 0px;
  width: 86px;
}
* body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .status.status .edit_delete_container .edit_delete_icons li .edit .status_edit_tooltip {
  background-color: #3C3C3C;
  border-radius: 2px;
  color: #fff;
  font: normal 400 10px/14px 'Exo2-Light';
  letter-spacing: 1px;
  padding: 2px;
  position: absolute;
  right: 97px;
  top: 22px;
  visibility: hidden;
  width: max-content;
}
* body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .status.status .edit_delete_container .edit_delete_icons li .edit:hover {
  margin: 0px;
  opacity: 0.9;
  transition: 0.3s;
}
* body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .status.status .edit_delete_container .edit_delete_icons li .edit:hover .status_edit_tooltip {
  visibility: visible;
}
* body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .status.status .edit_delete_container .edit_delete_icons li .delete {
  background-color: #E26139;
  border-radius: 0px 5px 5px 0px;
  height: 58px;
  margin: 0px;
  width: 86px;
}
* body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .status.status .edit_delete_container .edit_delete_icons li .delete .status_delete_tooltip {
  background-color: #3C3C3C;
  border-radius: 2px;
  color: #fff;
  font: normal 400 10px/14px 'Exo2-Light';
  letter-spacing: 1px;
  position: absolute;
  right: -6px;
  top: 22px;
  visibility: hidden;
  width: max-content;
}
* body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .status.status .edit_delete_container .edit_delete_icons li .delete:hover {
  background-color: #de4517;
  margin: 0px;
  transition: 0.3s;
}
* body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .status.status .edit_delete_container .edit_delete_icons li .delete:hover .status_delete_tooltip {
  visibility: visible;
}
* body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .status.status .edit_delete_container .trainee_status_text {
  min-width: 172px;
  padding: 17px 25px;
}
* body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .status button {
  border: none;
  color: #ffffff;
  margin-right: 5px;
  padding: 0px;
}
* body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .status button:last-child {
  margin-right: 0px;
}
* body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .employed {
  background-color: #f6bb2a;
}
* body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .unemployed {
  background-color: #c5c5c5;
  color: #333333;
}
* body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .edit_delete_icons {
  align-items: center;
  background-color: #e26139;
  color: #ffffff;
  display: flex;
  height: 100%;
  justify-content: space-around;
  list-style-type: none;
  padding: 16px 0px 18px 0px;
  transition: 0.5s;
}
* body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .edit_delete_icons button i {
  color: #ffffff;
}
* body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group::before {
  --scale: 0;
  position: absolute;
  top: -25px;
  transform-origin: bottom left;
  transform: translateX(205px) translateY(-25px) scale(var(--scale));
  transition: 200ms transform;
}
* body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group::after {
  --scale: 0;
  position: absolute;
  top: -25px;
  transform-origin: bottom left;
  transform: translateX(205px) translateY(5px) scale(var(--scale));
  transition: 200ms transform;
}
* body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group::before {
  background: #faff00;
  border-radius: 10px;
  color: #333333;
  content: attr(data-tooltip);
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.09));
  font: normal 300 12px/14px 'Exo2-Light';
  max-width: 100%;
  padding: 15px;
  text-align: center;
  width: max-content;
}
* body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group::after {
  border-left-color: #faff00;
  border: 10px solid transparent;
  content: '';
}
* body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group:hover::before,
* body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group:hover::after {
  --scale: 1;
}
* body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group:last-child {
  margin-bottom: 0px;
}
* body main #add_trainee_section #add_trainee_container h2 {
  color: rgba(51, 51, 51, 0.25);
  font: normal bold 40px/48px 'Exo2-Bold';
  letter-spacing: 0.006em;
  margin-top: 92px;
  text-align: center;
}
@media only screen and (max-width: 1439px) {
  * body main #add_trainee_section #add_trainee_container {
    max-width: 834px;
    padding: 0px 65px 49px 64px;
  }
  * body main #add_trainee_section #add_trainee_container > div button {
    font: normal bold 18px/22px 'Exo2-Bold';
    margin-bottom: 29px;
    padding: 14px 36px 14px 33px;
  }
  * body main #add_trainee_section #add_trainee_container > div #add_trainee_search {
    border: 2px solid #ffffff;
    font: normal 400 18px/22px 'Exo2-Regular';
  }
  * body main #add_trainee_section #add_trainee_container > div #add_trainee_search input {
    padding: 12px 13px 17px 19px;
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list #add_trainee_group_header {
    font: normal bold 20px/24px 'Exo2-Bold';
    margin: 0px 57px 35px 30px;
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list #add_trainee_group_header ul .head_name {
    min-width: 291px;
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list #add_trainee_group_header ul .head_specialization {
    min-width: 212px;
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list #add_trainee_group_header ul .head_recruiter {
    display: none;
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list #add_trainee_group_header ul .head_status {
    min-width: 172px;
    text-align: center;
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group {
    font: normal 400 18px/22px 'Exo2-Regular';
    margin-bottom: 15px;
    padding: 0px 0px 0px 30px;
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .name {
    min-width: 291px;
    padding: 24px 0px 16px 0px;
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .specialization {
    min-width: 212px;
    padding: 24px 0px 16px 0px;
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .recruiter {
    display: none;
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .date {
    display: none;
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .status {
    min-height: 62px;
    min-width: 172px;
    padding: 24px 0px 16px 0px;
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .status.status .edit_delete_container {
    height: 100%;
    transform: translate(0, -24px);
    width: 240px;
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .status.status .edit_delete_container .edit_delete_icons {
    min-width: 172px;
    width: 172px;
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .status.status .edit_delete_container .edit_delete_icons li {
    margin-top: 1px;
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .status.status .edit_delete_container .edit_delete_icons li .edit {
    height: 62px;
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .status.status .edit_delete_container .edit_delete_icons li .edit .status_edit_tooltip {
    top: 5px;
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .status.status .edit_delete_container .edit_delete_icons li .delete {
    height: 62px;
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .status.status .edit_delete_container .edit_delete_icons li .delete .status_delete_tooltip {
    top: 5px;
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .status.status .edit_delete_container:hover {
    height: 100%;
    transform: translate(-172px, -24px);
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .status.status .edit_delete_container .trainee_status_text {
    padding: 0px;
    width: 172px;
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group::before {
    transform: translateX(150px) translateY(-10px) scale(var(--scale));
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group::after {
    transform: translateX(150px) translateY(20px) scale(var(--scale));
  }
  * body main #add_trainee_section #add_trainee_container h2 {
    margin-top: 90px;
  }
}
@media only screen and (max-width: 784px) {
  * body main #add_trainee_section #add_trainee_container {
    max-width: 600px;
    padding: 0px 40px 29px 40px;
  }
  * body main #add_trainee_section #add_trainee_container > div button {
    font: normal bold 14px/18px 'Exo2-Bold';
  }
  * body main #add_trainee_section #add_trainee_container > div #add_trainee_search {
    font: normal 400 14px/18px 'Exo2-Regular';
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list #add_trainee_group_header {
    font: normal bold 18px/22px 'Exo2-Bold';
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list #add_trainee_group_header ul .head_name {
    min-width: 230px;
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list #add_trainee_group_header ul .head_specialization {
    min-width: 155px;
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list #add_trainee_group_header ul .head_status {
    min-width: 105px;
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group {
    font: normal 400 14px/18px 'Exo2-Regular';
    margin-bottom: 15px;
    padding: 0px 0px 0px 30px;
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .name {
    min-width: 230px;
    padding: 20px 0px;
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .specialization {
    min-width: 155px;
    padding: 20px 0px;
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .status {
    min-height: 58px;
    min-width: 105px;
    padding: 20px 0px;
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .status.status .edit_delete_container {
    transform: translate(0, -22px);
    width: 105px;
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .status.status .edit_delete_container .edit_delete_icons {
    min-width: 105px;
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .status.status .edit_delete_container .edit_delete_icons li .edit {
    height: 58px;
    width: 52px;
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .status.status .edit_delete_container .edit_delete_icons li .delete {
    height: 58px;
    width: 53px;
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .status.status .edit_delete_container:hover {
    transform: translate(-105px, -20px);
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .status.status .edit_delete_container .trainee_status_text {
    min-width: 105px;
  }
}
@media only screen and (max-width: 622px) {
  * body main #add_trainee_section #add_trainee_container {
    max-width: 480px;
    padding: 0px 30px 27px 30px;
  }
  * body main #add_trainee_section #add_trainee_container > div button {
    font: normal bold 12px/14px 'Exo2-Bold';
    padding: 10px 32px 10px 29px;
  }
  * body main #add_trainee_section #add_trainee_container > div #add_trainee_search {
    font: normal 400 12px/14px 'Exo2-Regular';
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list #add_trainee_group_header {
    font: normal bold 14px/18px 'Exo2-Bold';
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list #add_trainee_group_header ul .head_name {
    min-width: 200px;
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list #add_trainee_group_header ul .head_specialization {
    min-width: 135px;
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list #add_trainee_group_header ul .head_status {
    min-width: 85px;
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group {
    font: normal 400 12px/14px 'Exo2-Regular';
    margin-bottom: 15px;
    padding: 0px 0px 0px 30px;
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .name {
    min-width: 200px;
    padding: 20px 0px;
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .specialization {
    min-width: 135px;
    padding: 20px 0px;
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .status {
    min-height: 58px;
    min-width: 85px;
    padding: 20px 0px;
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .status.status .edit_delete_container {
    transform: translate(0, -22px);
    width: 85px;
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .status.status .edit_delete_container .edit_delete_icons {
    min-width: 85px;
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .status.status .edit_delete_container .edit_delete_icons li .edit {
    height: 58px;
    width: 43px;
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .status.status .edit_delete_container .edit_delete_icons li .delete {
    height: 58px;
    width: 42px;
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .status.status .edit_delete_container:hover {
    transform: translate(-85px, -20px);
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .status.status .edit_delete_container .trainee_status_text {
    min-width: 85px;
  }
}
@media only screen and (max-width: 480px) {
  * body main #add_trainee_section #add_trainee_container {
    max-width: 360px;
    padding: 0px 22px 25px 22px;
  }
  * body main #add_trainee_section #add_trainee_container > div button {
    font: normal bold 10px/12px 'Exo2-Bold';
    margin-bottom: 14px;
    max-width: 78px;
    padding: 4px;
  }
  * body main #add_trainee_section #add_trainee_container > div #add_trainee_search {
    border: 2px solid #ffffff;
    font: normal 400 10px/12px 'Exo2-Regular';
    height: 20px;
  }
  * body main #add_trainee_section #add_trainee_container > div #add_trainee_search input {
    height: 16px;
    padding: 0px 0px 2px 5px;
    width: 70px;
  }
  * body main #add_trainee_section #add_trainee_container > div #add_trainee_search button:hover {
    height: 16px;
  }
  * body main #add_trainee_section #add_trainee_container > div #add_trainee_search button .fa-magnifying-glass {
    border-left: none;
    padding: 0px 3px 0px 3px;
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list #add_trainee_group_header {
    font: normal bold 10px/12px 'Exo2-Bold';
    margin: 0px 21px 14px 23px;
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list #add_trainee_group_header ul .head_name {
    min-width: 135px;
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list #add_trainee_group_header ul .head_specialization {
    min-width: 83px;
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list #add_trainee_group_header ul .head_status {
    min-width: 75px;
    text-align: center;
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group {
    font: normal 400 10px/12px 'Exo2-Regular';
    margin-bottom: 15px;
    padding: 0px 0px 0px 23px;
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .name {
    min-width: 135px;
    padding: 24px 0px 16px 0px;
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .specialization {
    min-width: 83px;
    padding: 24px 0px 16px 0px;
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .status {
    height: 62px;
    min-width: 75px;
    overflow-clip-margin: 13px;
    padding: 24px 0px 16px 0px;
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .status.status .edit_delete_container {
    max-width: 75px;
    transform: translate(0px, -24px);
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .status.status .edit_delete_container .edit_delete_icons {
    height: 62px;
    min-width: 75px;
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .status.status .edit_delete_container .edit_delete_icons li .edit {
    height: 62px;
    width: 38px;
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .status.status .edit_delete_container .edit_delete_icons li .edit .status_edit_tooltip {
    right: 30px;
    top: 3px;
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .status.status .edit_delete_container .edit_delete_icons li .delete {
    height: 62px;
    width: 37px;
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .status.status .edit_delete_container .edit_delete_icons li .delete .status_delete_tooltip {
    right: -13px;
    top: 3px;
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .status.status .edit_delete_container:hover {
    transform: translate(-75px, -24px);
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .status.status .edit_delete_container .trainee_status_text {
    font: normal 400 10px/12px 'Exo2-Regular';
    min-width: 75px;
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group::before {
    font: normal 400 10px/12px 'Exo2-Regular';
    transform: translateX(75px) translateY(-10px) scale(var(--scale));
  }
  * body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group::after {
    transform: translateX(75px) translateY(20px) scale(var(--scale));
  }
  * body main #add_trainee_section #add_trainee_container h2 {
    margin-top: 90px;
  }
}
* body main .hidden {
  display: none;
}
* body main #back_to_top_button {
  background-color: #FFEB3C;
  border-radius: 50%;
  border: none;
  bottom: 40px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: fixed;
  right: 40px;
}
* body footer #footer_section #footer_container {
  background-color: #02244F;
  margin: 0px auto;
  padding: 148px 0px 147px 0px;
  text-align: center;
}
* body footer #footer_section #footer_container:hover {
  background-color: #303878;
  transition: 0.3s;
}
* body footer #footer_section #footer_container h2 {
  color: #ffffff;
  font: normal 40px/48px 'Exo2-Bold';
  letter-spacing: 0.05em;
}
* body footer #footer_section #footer_container h2 span {
  color: #ffeb3c;
}
@media only screen and (max-width: 1439px) {
  * body footer #footer_section #footer_container {
    padding: 121px 0px 117px 0px;
  }
  * body footer #footer_section #footer_container h2 {
    font: normal 32px/38px 'Exo2-Bold';
  }
}
@media only screen and (max-width: 480px) {
  * body footer #footer_section #footer_container {
    padding: 0px;
  }
  * body footer #footer_section #footer_container h2 {
    font: normal 700 12px/14px 'Exo2-Bold';
    padding: 10px 0px;
  }
}
* body .modal-dialog {
  margin-top: 150px;
  max-width: 390px;
}
* body .modal-dialog .modal-content .edit-modal-header {
  background-color: #5BA3FF;
  display: block;
  height: 115px;
  padding: 15px;
}
* body .modal-dialog .modal-content .edit-modal-header #profileImage {
  background: #512DA8;
  border-radius: 50%;
  color: #fff;
  font-size: 35px;
  height: 150px;
  line-height: 150px;
  margin: 0px auto;
  text-align: center;
  width: 150px;
}
* body .modal-dialog .modal-content .edit-modal-header #edit-profile-container {
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: solid 10px #5B5B5B ;
  color: #5B5B5B;
  font-size: 35px;
  height: 150px;
  margin: 0px auto;
  overflow: clip;
  text-align: center;
  width: 150px;
}
* body .modal-dialog .modal-content .edit-modal-header #edit-profile-container .message {
  display: none;
}
* body .modal-dialog .modal-content .edit-modal-header #edit-profile-container img {
  height: 130px;
  width: 130px;
}
* body .modal-dialog .modal-content .edit-modal-header #edit-profile-container #profile_image {
  cursor: pointer;
}
* body .modal-dialog .modal-content .edit-modal-header #edit-profile-container .filethumbnail {
  background-color: #fff;
  font: normal 700 80px/105px 'Exo2-Bold';
}
* body .modal-dialog .modal-content .edit-modal-header #image_upload {
  display: none;
}
* body .modal-dialog .modal-content .modal-header {
  background-color: #5BA3FF;
  display: block;
  height: 115px;
}
* body .modal-dialog .modal-content .modal-header #profileImage {
  background: #512DA8;
  border-radius: 50%;
  color: #fff;
  font-size: 35px;
  height: 150px;
  line-height: 150px;
  margin: 0px auto;
  text-align: center;
  width: 150px;
}
* body .modal-dialog .modal-content .modal-header #profile-container {
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: solid 10px #5B5B5B ;
  color: #5B5B5B;
  font-size: 35px;
  height: 150px;
  margin: 0px auto;
  overflow: clip;
  text-align: center;
  width: 150px;
}
* body .modal-dialog .modal-content .modal-header #profile-container .message {
  display: none;
}
* body .modal-dialog .modal-content .modal-header #profile-container img {
  height: 130px;
  width: 130px;
}
* body .modal-dialog .modal-content .modal-header #profile-container #profile_image {
  cursor: pointer;
}
* body .modal-dialog .modal-content .modal-header #profile-container .filethumbnail {
  background-image: url(../img/upload-photo.png);
  font-size: 0px;
}
* body .modal-dialog .modal-content .modal-header #image_upload {
  display: none;
}
* body .modal-dialog .modal-content .modal-body {
  padding: 66px 35px 0px 35px;
}
* body .modal-dialog .modal-content .modal-body .form_container .form_block {
  display: flex;
  justify-content: space-between;
}
* body .modal-dialog .modal-content .modal-body .form_container .form_block label {
  color: #7C7D7D;
  font: normal 400 14px/41px 'Exo2-Regular';
  letter-spacing: 0.6px;
}
* body .modal-dialog .modal-content .modal-body .form_container .form_block .input_style {
  background-color: #EFF7FB;
  border-radius: 2px;
  border: transparent;
  color: #999;
  font: normal 400 14px/17px 'Exo2-Regular';
  height: 40px;
  letter-spacing: 0.6px;
  margin-bottom: 10px;
  padding: 0px 10px;
  width: 192px;
}
* body .modal-dialog .modal-content .modal-body .form_container .form_block .date_picker_container {
  display: inline-block;
  position: relative;
}
* body .modal-dialog .modal-content .modal-body .form_container .form_block .date_picker_container .date_icon {
  color: #999;
  font-size: 10px;
  height: 5px;
  position: absolute;
  right: 21px;
  top: 11px;
  width: 5px;
}
* body .modal-dialog .modal-content .modal-body .form_container .form_block #datepicker {
  color: #999;
}
* body .modal-dialog .modal-content .modal-body .form_container .form_block select,
* body .modal-dialog .modal-content .modal-body .form_container .form_block .select_picker {
  background-color: #EFF7FB;
  border-radius: 2px;
  border: transparent;
  color: #333333;
  font: normal 400 14px/17px 'Exo2-Regular';
  height: 40px;
  letter-spacing: 0.6px;
  margin-bottom: 10px;
  padding: 0px;
  text-align: left;
  width: 192px;
}
* body .modal-dialog .modal-content .modal-body .form_container .form_block select .filter-option-inner-inner,
* body .modal-dialog .modal-content .modal-body .form_container .form_block .select_picker .filter-option-inner-inner {
  color: #999;
  font: normal 400 14px/17px 'Exo2-Regular';
}
* body .modal-dialog .modal-content .modal-body .form_container .form_block .btn {
  background-color: #EFF7FB;
  height: 36px;
  width: 188px;
}
* body .modal-dialog .modal-content .modal-body .form_container .form_block .error {
  border: 0.5px solid red;
}
* body .modal-dialog .modal-content .modal-body .alert {
  color: #ff0000;
  display: none;
  font: normal 50 14px/17px 'Exo2-Regular';
  padding: 0px;
}
* body .modal-dialog .modal-content .modal-body .redactor {
  display: block;
}
* body .modal-dialog .modal-content .modal-body .redactor textarea {
  background-color: #EFF7FB;
  border-radius: 2px;
  border: transparent;
  color: #999;
  display: block;
  font: normal 400 14px/17px 'Exo2-Regular';
  height: 100px;
  letter-spacing: 0.6px;
  margin-bottom: 10px;
  overflow: auto;
  padding: 10px 10px;
  resize: none;
  text-align: left;
  width: 100%;
}
* body .modal-dialog .modal-content .modal-body .redactor .error {
  border: 0.5px solid red;
}
* body .modal-dialog .modal-content .modal-footer {
  border: none;
  display: flex;
  justify-content: space-between;
  padding: 22px 35px 35px 35px;
}
* body .modal-dialog .modal-content .modal-footer .cancel_btn {
  background-color: #ffffff;
  border: none;
  color: #EF5353;
  font: normal 400 14px/8px 'Exo2-Regular';
  height: 36px;
  letter-spacing: 0.6px;
  margin: 0px;
  transition: 0.3s;
  width: 130px;
}
* body .modal-dialog .modal-content .modal-footer .cancel_btn:hover {
  background-color: #E26139;
  border-radius: 2px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  color: #ffffff;
}
* body .modal-dialog .modal-content .modal-footer .save_btn {
  background-color: #0085FF;
  border-radius: 2px;
  border: none;
  color: #ffffff;
  font: normal 400 14px/8px 'Exo2-Regular';
  height: 36px;
  letter-spacing: 0.6px;
  margin: 0px;
  width: 130px;
}
* body .modal-dialog .modal-content .modal-footer .save_btn:hover {
  background-color: #0059FF;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: 0.3s;
}
* body .modal-dialog .modal-content .modal-footer .edit_save_btn {
  background-color: #0085FF;
  border-radius: 2px;
  border: none;
  color: #ffffff;
  font: normal 400 14px/8px 'Exo2-Regular';
  height: 36px;
  letter-spacing: 0.6px;
  margin: 0px;
  width: 130px;
}
* body .modal-dialog .modal-content .modal-footer .edit_save_btn:hover {
  background-color: #0059FF;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: 0.3s;
}
* body .modal-dialog .modal-content .modal-footer .edit_cancel_btn {
  background-color: #ffffff;
  border: none;
  color: #EF5353;
  font: normal 400 14px/8px 'Exo2-Regular';
  height: 36px;
  letter-spacing: 0.6px;
  margin: 0px 50px 0px 0px;
  transition: 0.3s;
  width: 130px;
}
* body .modal-dialog .modal-content .modal-footer .edit_cancel_btn:hover {
  background-color: #E26139;
  border-radius: 2px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  color: #ffffff;
}
@media screen and (max-width: 860px) {
  * body .modal-dialog {
    max-width: 352.91px;
  }
  * body .modal-dialog .modal-content .modal-header {
    background-color: #5BA3FF;
    display: block;
    height: 104.06px;
  }
  * body .modal-dialog .modal-content .modal-header #profileImage {
    height: 134.49px;
    width: 134.49px;
  }
  * body .modal-dialog .modal-content .modal-header #profile-container {
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: solid 10px #5B5B5B ;
    color: #5B5B5B;
    font-size: 35px;
    height: 134.49px;
    margin: 0px auto;
    overflow: hidden;
    text-align: center;
    width: 134.49px;
  }
  * body .modal-dialog .modal-content .modal-header #profile-container .message {
    display: none;
  }
  * body .modal-dialog .modal-content .modal-header #profile-container img {
    height: 114.49px;
    width: 114.49px;
  }
  * body .modal-dialog .modal-content .modal-header #profile-container #profile_image {
    cursor: pointer;
  }
  * body .modal-dialog .modal-content .modal-header #profile-container .filethumbnail {
    background-color: #fff;
    font: normal 700 60px/95px 'Exo2-Bold';
  }
  * body .modal-dialog .modal-content .modal-header #image_upload {
    display: none;
  }
  * body .modal-dialog .modal-content .modal-body {
    padding: 62px 31px 0px 31px;
  }
  * body .modal-dialog .modal-content .modal-body .form_container .form_block label {
    font: normal 400 12px/41px 'Exo2-Regular';
  }
  * body .modal-dialog .modal-content .modal-body .form_container .form_block .input_style {
    font: normal 400 12px/14px 'Exo2-Regular';
    height: 36.2px;
    width: 173px;
  }
  * body .modal-dialog .modal-content .modal-body .form_container .form_block .date_picker_container {
    display: inline-block;
    position: relative;
  }
  * body .modal-dialog .modal-content .modal-body .form_container .form_block .date_picker_container .date_icon {
    color: #999;
    position: absolute;
    right: 15px;
    top: 11px;
  }
  * body .modal-dialog .modal-content .modal-body .form_container .form_block #datepicker {
    color: #999;
  }
  * body .modal-dialog .modal-content .modal-body .form_container .form_block select,
  * body .modal-dialog .modal-content .modal-body .form_container .form_block .select_picker {
    font: normal 400 12px/14px 'Exo2-Regular';
    height: 36.2px;
    width: 173.74px;
  }
  * body .modal-dialog .modal-content .modal-body .form_container .form_block select .filter-option-inner-inner,
  * body .modal-dialog .modal-content .modal-body .form_container .form_block .select_picker .filter-option-inner-inner {
    font: normal 400 12px/14px 'Exo2-Regular';
  }
  * body .modal-dialog .modal-content .modal-body .form_container .form_block .btn {
    background-color: #EFF7FB;
    height: 36.2px;
    width: 173.74px;
  }
  * body .modal-dialog .modal-content .modal-body .alert {
    font: normal 50 12px/14px 'Exo2-Regular';
  }
  * body .modal-dialog .modal-content .modal-body .redactor {
    display: block;
  }
  * body .modal-dialog .modal-content .modal-body .redactor textarea {
    font: normal 400 12px/14px 'Exo2-Regular';
    height: 80px;
  }
  * body .modal-dialog .modal-content .modal-footer {
    border: none;
    display: flex;
    justify-content: space-between;
    padding: 18px 31px 32px 31px;
  }
  * body .modal-dialog .modal-content .modal-footer .cancel_btn {
    font: normal 400 12px/8px 'Exo2-Regular';
    height: 32.58px;
    width: 117.64px;
  }
  * body .modal-dialog .modal-content .modal-footer .save_btn {
    font: normal 400 12px/8px 'Exo2-Regular';
    height: 32.58px;
    width: 117.64px;
  }
  * body .modal-dialog .modal-content .modal-footer .edit_save_btn {
    font: normal 400 12px/8px 'Exo2-Regular';
    height: 32.58px;
    width: 117.64px;
  }
  * body .modal-dialog .modal-content .modal-footer .edit_cancel_btn {
    font: normal 400 12px/8px 'Exo2-Regular';
    height: 32.58px;
    width: 117.64px;
  }
}
@media screen and (max-width: 576px) {
  * body #delete_trainee_modal,
  * body .modal,
  * body .fade,
  * body .show {
    padding-right: 0px;
  }
  * body #delete_trainee_modal .modal-dialog,
  * body .modal .modal-dialog,
  * body .fade .modal-dialog,
  * body .show .modal-dialog {
    margin: 0px auto;
    max-width: 262px;
    padding-top: 50px;
  }
  * body #delete_trainee_modal .modal-dialog .modal-content .modal-header,
  * body .modal .modal-dialog .modal-content .modal-header,
  * body .fade .modal-dialog .modal-content .modal-header,
  * body .show .modal-dialog .modal-content .modal-header {
    display: block;
    height: 46px;
  }
  * body #delete_trainee_modal .modal-dialog .modal-content .modal-header #profileImage,
  * body .modal .modal-dialog .modal-content .modal-header #profileImage,
  * body .fade .modal-dialog .modal-content .modal-header #profileImage,
  * body .show .modal-dialog .modal-content .modal-header #profileImage {
    height: 58px;
    width: 58px;
  }
  * body #delete_trainee_modal .modal-dialog .modal-content .modal-header #profile-container,
  * body .modal .modal-dialog .modal-content .modal-header #profile-container,
  * body .fade .modal-dialog .modal-content .modal-header #profile-container,
  * body .show .modal-dialog .modal-content .modal-header #profile-container {
    border: solid 4px #5B5B5B;
    font-size: 35px;
    height: 58px;
    width: 58px;
  }
  * body #delete_trainee_modal .modal-dialog .modal-content .modal-header #profile-container .message,
  * body .modal .modal-dialog .modal-content .modal-header #profile-container .message,
  * body .fade .modal-dialog .modal-content .modal-header #profile-container .message,
  * body .show .modal-dialog .modal-content .modal-header #profile-container .message {
    display: none;
  }
  * body #delete_trainee_modal .modal-dialog .modal-content .modal-header #profile-container img,
  * body .modal .modal-dialog .modal-content .modal-header #profile-container img,
  * body .fade .modal-dialog .modal-content .modal-header #profile-container img,
  * body .show .modal-dialog .modal-content .modal-header #profile-container img {
    height: 50px;
    width: 50px;
  }
  * body #delete_trainee_modal .modal-dialog .modal-content .modal-header #profile-container #profile_image,
  * body .modal .modal-dialog .modal-content .modal-header #profile-container #profile_image,
  * body .fade .modal-dialog .modal-content .modal-header #profile-container #profile_image,
  * body .show .modal-dialog .modal-content .modal-header #profile-container #profile_image {
    cursor: pointer;
  }
  * body #delete_trainee_modal .modal-dialog .modal-content .modal-header #profile-container .filethumbnail,
  * body .modal .modal-dialog .modal-content .modal-header #profile-container .filethumbnail,
  * body .fade .modal-dialog .modal-content .modal-header #profile-container .filethumbnail,
  * body .show .modal-dialog .modal-content .modal-header #profile-container .filethumbnail {
    background-color: #fff;
    font: normal 700 30px/41px 'Exo2-Bold';
  }
  * body #delete_trainee_modal .modal-dialog .modal-content .modal-header #image_upload,
  * body .modal .modal-dialog .modal-content .modal-header #image_upload,
  * body .fade .modal-dialog .modal-content .modal-header #image_upload,
  * body .show .modal-dialog .modal-content .modal-header #image_upload {
    display: none;
  }
  * body #delete_trainee_modal .modal-dialog .modal-content .modal-body,
  * body .modal .modal-dialog .modal-content .modal-body,
  * body .fade .modal-dialog .modal-content .modal-body,
  * body .show .modal-dialog .modal-content .modal-body {
    padding: 28px 35px 0px 35px;
  }
  * body #delete_trainee_modal .modal-dialog .modal-content .modal-body .form_container .form_block,
  * body .modal .modal-dialog .modal-content .modal-body .form_container .form_block,
  * body .fade .modal-dialog .modal-content .modal-body .form_container .form_block,
  * body .show .modal-dialog .modal-content .modal-body .form_container .form_block {
    display: block;
  }
  * body #delete_trainee_modal .modal-dialog .modal-content .modal-body .form_container .form_block label,
  * body .modal .modal-dialog .modal-content .modal-body .form_container .form_block label,
  * body .fade .modal-dialog .modal-content .modal-body .form_container .form_block label,
  * body .show .modal-dialog .modal-content .modal-body .form_container .form_block label {
    display: block;
    font: normal 400 10px/12px 'Exo2-Regular';
  }
  * body #delete_trainee_modal .modal-dialog .modal-content .modal-body .form_container .form_block .input_style,
  * body .modal .modal-dialog .modal-content .modal-body .form_container .form_block .input_style,
  * body .fade .modal-dialog .modal-content .modal-body .form_container .form_block .input_style,
  * body .show .modal-dialog .modal-content .modal-body .form_container .form_block .input_style {
    display: block;
    font: normal 400 10px/12px 'Exo2-Regular';
    height: 25px;
    width: 100%;
  }
  * body #delete_trainee_modal .modal-dialog .modal-content .modal-body .form_container .form_block .date_picker_container,
  * body .modal .modal-dialog .modal-content .modal-body .form_container .form_block .date_picker_container,
  * body .fade .modal-dialog .modal-content .modal-body .form_container .form_block .date_picker_container,
  * body .show .modal-dialog .modal-content .modal-body .form_container .form_block .date_picker_container {
    display: inline-block;
    position: relative;
    width: 100%;
  }
  * body #delete_trainee_modal .modal-dialog .modal-content .modal-body .form_container .form_block .date_picker_container .date_icon,
  * body .modal .modal-dialog .modal-content .modal-body .form_container .form_block .date_picker_container .date_icon,
  * body .fade .modal-dialog .modal-content .modal-body .form_container .form_block .date_picker_container .date_icon,
  * body .show .modal-dialog .modal-content .modal-body .form_container .form_block .date_picker_container .date_icon {
    color: #999;
    position: absolute;
    right: 15px;
    top: 7px;
  }
  * body #delete_trainee_modal .modal-dialog .modal-content .modal-body .form_container .form_block #datepicker,
  * body .modal .modal-dialog .modal-content .modal-body .form_container .form_block #datepicker,
  * body .fade .modal-dialog .modal-content .modal-body .form_container .form_block #datepicker,
  * body .show .modal-dialog .modal-content .modal-body .form_container .form_block #datepicker {
    color: #999;
  }
  * body #delete_trainee_modal .modal-dialog .modal-content .modal-body .form_container .form_block select,
  * body .modal .modal-dialog .modal-content .modal-body .form_container .form_block select,
  * body .fade .modal-dialog .modal-content .modal-body .form_container .form_block select,
  * body .show .modal-dialog .modal-content .modal-body .form_container .form_block select,
  * body #delete_trainee_modal .modal-dialog .modal-content .modal-body .form_container .form_block .select_picker,
  * body .modal .modal-dialog .modal-content .modal-body .form_container .form_block .select_picker,
  * body .fade .modal-dialog .modal-content .modal-body .form_container .form_block .select_picker,
  * body .show .modal-dialog .modal-content .modal-body .form_container .form_block .select_picker {
    font: normal 400 10px/12px 'Exo2-Regular';
    height: 25px;
    width: 100%;
  }
  * body #delete_trainee_modal .modal-dialog .modal-content .modal-body .form_container .form_block select .filter-option-inner-inner,
  * body .modal .modal-dialog .modal-content .modal-body .form_container .form_block select .filter-option-inner-inner,
  * body .fade .modal-dialog .modal-content .modal-body .form_container .form_block select .filter-option-inner-inner,
  * body .show .modal-dialog .modal-content .modal-body .form_container .form_block select .filter-option-inner-inner,
  * body #delete_trainee_modal .modal-dialog .modal-content .modal-body .form_container .form_block .select_picker .filter-option-inner-inner,
  * body .modal .modal-dialog .modal-content .modal-body .form_container .form_block .select_picker .filter-option-inner-inner,
  * body .fade .modal-dialog .modal-content .modal-body .form_container .form_block .select_picker .filter-option-inner-inner,
  * body .show .modal-dialog .modal-content .modal-body .form_container .form_block .select_picker .filter-option-inner-inner {
    font: normal 400 10px/12px 'Exo2-Regular';
  }
  * body #delete_trainee_modal .modal-dialog .modal-content .modal-body .form_container .form_block .btn,
  * body .modal .modal-dialog .modal-content .modal-body .form_container .form_block .btn,
  * body .fade .modal-dialog .modal-content .modal-body .form_container .form_block .btn,
  * body .show .modal-dialog .modal-content .modal-body .form_container .form_block .btn {
    background-color: #EFF7FB;
    height: 25px;
    width: 100%;
  }
  * body #delete_trainee_modal .modal-dialog .modal-content .modal-body .alert,
  * body .modal .modal-dialog .modal-content .modal-body .alert,
  * body .fade .modal-dialog .modal-content .modal-body .alert,
  * body .show .modal-dialog .modal-content .modal-body .alert {
    font: normal 400 10px/12px 'Exo2-Regular';
  }
  * body #delete_trainee_modal .modal-dialog .modal-content .modal-body .redactor,
  * body .modal .modal-dialog .modal-content .modal-body .redactor,
  * body .fade .modal-dialog .modal-content .modal-body .redactor,
  * body .show .modal-dialog .modal-content .modal-body .redactor {
    display: block;
  }
  * body #delete_trainee_modal .modal-dialog .modal-content .modal-body .redactor textarea,
  * body .modal .modal-dialog .modal-content .modal-body .redactor textarea,
  * body .fade .modal-dialog .modal-content .modal-body .redactor textarea,
  * body .show .modal-dialog .modal-content .modal-body .redactor textarea {
    font: normal 400 10px/12px 'Exo2-Regular';
    height: 77px;
  }
  * body #delete_trainee_modal .modal-dialog .modal-content .modal-footer,
  * body .modal .modal-dialog .modal-content .modal-footer,
  * body .fade .modal-dialog .modal-content .modal-footer,
  * body .show .modal-dialog .modal-content .modal-footer {
    padding: 18px 36px 32px 36px;
  }
  * body #delete_trainee_modal .modal-dialog .modal-content .modal-footer .cancel_btn,
  * body .modal .modal-dialog .modal-content .modal-footer .cancel_btn,
  * body .fade .modal-dialog .modal-content .modal-footer .cancel_btn,
  * body .show .modal-dialog .modal-content .modal-footer .cancel_btn {
    font: normal 400 10px/12px 'Exo2-Regular';
    height: 25px;
    width: 69px;
  }
  * body #delete_trainee_modal .modal-dialog .modal-content .modal-footer .save_btn,
  * body .modal .modal-dialog .modal-content .modal-footer .save_btn,
  * body .fade .modal-dialog .modal-content .modal-footer .save_btn,
  * body .show .modal-dialog .modal-content .modal-footer .save_btn {
    font: normal 400 10px/12px 'Exo2-Regular';
    height: 25px;
    width: 69px;
  }
  * body #delete_trainee_modal .modal-dialog .modal-content .modal-footer .edit_save_btn,
  * body .modal .modal-dialog .modal-content .modal-footer .edit_save_btn,
  * body .fade .modal-dialog .modal-content .modal-footer .edit_save_btn,
  * body .show .modal-dialog .modal-content .modal-footer .edit_save_btn {
    font: normal 400 10px/12px 'Exo2-Regular';
    height: 25px;
    width: 69px;
  }
  * body #delete_trainee_modal .modal-dialog .modal-content .modal-footer .edit_cancel_btn,
  * body .modal .modal-dialog .modal-content .modal-footer .edit_cancel_btn,
  * body .fade .modal-dialog .modal-content .modal-footer .edit_cancel_btn,
  * body .show .modal-dialog .modal-content .modal-footer .edit_cancel_btn {
    font: normal 400 10px/12px 'Exo2-Regular';
    height: 25px;
    width: 69px;
  }
}
@media screen and (max-width: 230px) {
  * body .modal-dialog {
    margin: 0px auto;
    max-width: 262px;
    padding-top: 50px;
  }
  * body .modal-dialog .modal-content .modal-footer {
    display: block;
    padding: 18px 36px 32px 36px;
  }
  * body .modal-dialog .modal-content .modal-footer .cancel_btn {
    display: block;
    font: normal 400 10px/12px 'Exo2-Regular';
    height: 25px;
    width: 100%;
  }
  * body .modal-dialog .modal-content .modal-footer .save_btn {
    display: block;
    font: normal 400 10px/12px 'Exo2-Regular';
    height: 25px;
    width: 100%;
  }
  * body .modal-dialog .modal-content .modal-footer .edit_save_btn {
    display: block;
    font: normal 400 10px/12px 'Exo2-Regular';
    height: 25px;
    width: 100%;
  }
  * body .modal-dialog .modal-content .modal-footer .edit_cancel_btn {
    display: block;
    font: normal 400 10px/12px 'Exo2-Regular';
    height: 25px;
    width: 100%;
  }
}
* body #delete_trainee_modal .modal-dialog {
  margin-top: 100px;
  max-width: 250px;
}
* body #delete_trainee_modal .modal-dialog .modal-content {
  border-radius: 25px;
}
* body #delete_trainee_modal .modal-dialog .modal-content .modal-body {
  padding: 0px;
  text-align: center;
}
* body #delete_trainee_modal .modal-dialog .modal-content .modal-body p {
  border-bottom: solid 1px #D9D9D9;
  font: normal 400 14px/17px 'Exo2-Regular';
  letter-spacing: 0.6px;
  margin: 0px;
  padding: 20px 30px;
}
* body #delete_trainee_modal .modal-dialog .modal-content .modal-body #trainee_id {
  display: none;
}
* body #delete_trainee_modal .modal-dialog .modal-content .delete-modal-footer {
  margin: 0px 47px;
}
* body #delete_trainee_modal .modal-dialog .modal-content .delete-modal-footer .dm_confirm_btn {
  background-color: transparent;
  border-radius: 0px 0px 0px 23px;
  border: none;
  color: #0ACF83;
  display: inline-block;
  font: normal 400 14px/17px 'Exo2-Regular';
  letter-spacing: 0.6px;
  padding: 20px 36px 20px 0px;
}
* body #delete_trainee_modal .modal-dialog .modal-content .delete-modal-footer .dm_cancel_btn {
  background-color: transparent;
  border-radius: 0px 0px 23px 0px;
  border: none;
  color: #EF5353;
  display: inline-block;
  font: normal 400 14px/17px 'Exo2-Regular';
  letter-spacing: 0.6px;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
  text-align: center;
  width: 49.14%;
}
* body #delete_trainee_modal .modal-dialog .modal-content .delete-modal-footer .dm_cancel_btn:hover {
  background-color: #EF5353;
  color: #fff;
  transition: 0.21s;
}
* .toast {
  border-radius: 7px;
  color: #ffffff;
  position: fixed;
  right: 20px;
  top: 20px;
  transition: 0.5s;
  width: max-content;
}
* .toast .toast_body span {
  font: normal bold 20px/24px 'Exo2-Bold';
}
@media only screen and (max-width: 360px) {
  * .toast {
    border-radius: 7px;
    color: #ffffff;
    padding: 10px !important;
    position: fixed;
    text-align: center;
    transition: none;
    width: max-content;
  }
  * .toast .toast_body span {
    font: normal bold 10px/12px 'Exo2-Bold';
  }
}
* #saved_toast {
  background-color: #00a86b;
}
* #deleted_toast {
  background-color: #E26139;
}
