@font-face {
  font-family: Exo2-Bold;
  src: url(../font/Exo2-Bold.otf);
}
@font-face {
  font-family: Exo2-Regular;
  src: url(../font/Exo2-Regular.otf);
}
* {
  margin: 0px;
}
* body {
  background: url(../img/background_linear.png), url(../img/background.png) no-repeat top center;
  background-size: cover;
  height: 1px;
}
* body header > section #navbar_container {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
  max-width: 1440px;
  padding: 0px 115px 0px 87px;
}
* body header > section #navbar_container #navbar_list {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin-top: 27px;
  padding: 0px;
}
* body header > section #navbar_container #navbar_list .navbar_item {
  font: normal bold 20px/24px 'Exo2-Bold';
  list-style: none;
}
* body header > section #navbar_container #navbar_list .navbar_item a {
  color: #ffffff;
  text-decoration: none;
}
* body header > section #navbar_container #navbar_list .navbar_item .active {
  color: #ffeb3c;
  text-decoration: underline;
  text-decoration-thickness: 7px;
}
* body header > section #navbar_container #navbar_list #navbar_home {
  margin-right: 38px;
}
* body main #banner_section #banner_container {
  margin: 0px auto;
  max-width: 1440px;
  padding: 36px 303px 82px 303px;
}
* body main #banner_section #banner_container h1 {
  color: #ffffff;
  font: normal bold 55px/66px 'Exo2-Bold';
  letter-spacing: 0.05em;
  margin: 0px auto;
  text-align: center;
  text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}
* body main #banner_section #banner_container h1 span {
  color: #ffeb3c;
}
* body main #add_trainee_section #add_trainee_container {
  margin: 0px auto;
  max-width: 1440px;
  padding: 0px 168px 78px 168px;
}
* body main #add_trainee_section #add_trainee_container > div {
  display: flex;
  justify-content: space-between;
}
* body main #add_trainee_section #add_trainee_container > div button {
  background-color: #0085ff;
  border: transparent;
  border-radius: 3px;
  color: #ffffff;
  font: normal bold 20px/24px 'Exo2-Bold';
  letter-spacing: 0.006em;
  margin-bottom: 37px;
  padding: 14px 30px 15px 28px;
}
* body main #add_trainee_section #add_trainee_container > div #add_trainee_search {
  border: 2px solid #ffffff;
  color: #ffffff;
  font: normal bold 20px/24px 'Exo2-Bold';
  height: 51px;
}
* body main #add_trainee_section #add_trainee_container > div #add_trainee_search input {
  background-color: transparent;
  border: transparent;
  height: 51px;
  padding: 12px 15px 13px 17px;
  width: 258px;
}
* body main #add_trainee_section #add_trainee_container > div #add_trainee_search input::placeholder {
  color: #ffffff;
}
* body main #add_trainee_section #add_trainee_container > div #add_trainee_search #add_trainee_search_input:focus-visible {
  outline: transparent;
}
* body main #add_trainee_section #add_trainee_container > div #add_trainee_search .fa-magnifying-glass {
  color: #ffffff;
}
* body main #add_trainee_section #add_trainee_container #add_trainee_list {
  padding: 0px;
}
* body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
  font: normal 400 20px/24px 'Exo2-Regular';
  letter-spacing: 0.006em;
  list-style: none;
  margin-bottom: 10px;
  padding: 0px 40px 0px 51px;
}
* body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul {
  align-items: flex-start;
  display: flex;
  padding: 0px;
}
* body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .add_trainee_item {
  color: #027abe;
  list-style: none;
  padding: 0px;
}
* body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .head_name {
  min-width: 353px;
}
* body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .head_specialization {
  min-width: 274px;
}
* body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .head_recruiter {
  min-width: 254px;
}
* body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .head_status {
  min-width: 172px;
  text-align: center;
}
* body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .name {
  min-width: 353px;
  padding: 16px 0px 18px 0px;
}
* body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .specialization {
  min-width: 274px;
  padding: 16px 0px 18px 0px;
}
* body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .recruiter {
  min-width: 254px;
  padding: 16px 0px 18px 0px;
}
* body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .status {
  background-color: #f6bb2a;
  color: #ffffff;
  min-width: 172px;
  padding: 16px 0px 18px 0px;
  text-align: center;
  border-radius: 0px 5px 5px 0px;
}
* body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .status button {
  background-color: transparent;
  border: none;
  color: #ffffff;
  margin-right: 5px;
  padding: 0px;
}
* body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .status button:last-child {
  margin-right: 0px;
}
* body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .status:hover {
  background-color: #e26139;
}
* body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group ul .status:hover span {
  display: none;
}
* body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group:first-child {
  background-color: transparent;
  box-shadow: none;
  font: normal bold 20px/24px 'Exo2-Bold';
  height: auto;
  letter-spacing: 0.006em;
  margin: 0px 59px 39px 50px;
  padding: 0px;
  width: auto;
}
* body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group:first-child .add_trainee_item {
  color: #333333;
}
* body main #add_trainee_section #add_trainee_container #add_trainee_list .add_trainee_group:last-child {
  margin-bottom: 0px;
}
* body main #add_trainee_section #add_trainee_container h2 {
  color: rgba(51, 51, 51, 0.25);
  font: normal bold 40px/48px 'Exo2-Bold';
  letter-spacing: 0.006em;
  margin-top: 92px;
  text-align: center;
}
* body footer #footer_section #footer_container {
  background-color: #30527e;
  margin: 0px auto;
  padding: 148px 443px 147px 441px;
  text-align: center;
}
* body footer #footer_section #footer_container h2 {
  color: #ffffff;
  font: normal 40px/48px 'Exo2-Bold';
  letter-spacing: 0.05em;
}
* body footer #footer_section #footer_container h2 span {
  color: #ffeb3c;
}
* body .modal-dialog {
  margin-top: 150px;
  max-width: 390px;
}
* body .modal-dialog .modal-content .modal-header {
  background-color: #5BA3FF;
  height: 115px;
}
* body .modal-dialog .modal-content .modal-header #profile-container {
  margin: 0px auto;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: #fff;
  border-radius: 50%;
  border: solid 10px #5B5B5B ;
  height: 150px;
  overflow: hidden;
  width: 150px;
}
* body .modal-dialog .modal-content .modal-header #profile-container img {
  height: 130px;
  width: 130px;
}
* body .modal-dialog .modal-content .modal-header #profile-container #profile_image {
  cursor: pointer;
}
* body .modal-dialog .modal-content .modal-header #image_upload {
  display: none;
}
* body .modal-dialog .modal-content .modal-body {
  padding: 70px 35px 0px 35px;
}
* body .modal-dialog .modal-content .modal-body .form_container {
  text-align: justify;
}
* body .modal-dialog .modal-content .modal-body .form_container::after {
  content: "";
  display: inline-block;
  width: 100%;
}
* body .modal-dialog .modal-content .modal-body .form_container .form_label {
  display: inline-block;
}
* body .modal-dialog .modal-content .modal-body .form_container .form_label label {
  color: #7C7D7D;
  display: block;
  font: normal 400 14px/41px 'Exo2-Regular';
  letter-spacing: 0.6px;
}
* body .modal-dialog .modal-content .modal-body .form_container .form_input {
  display: inline-block;
}
* body .modal-dialog .modal-content .modal-body .form_container .form_input input {
  background-color: #EFF7FB;
  border-radius: 2px;
  border: none;
  color: #333333;
  display: block;
  font: normal 400 14px/17px 'Exo2-Regular';
  height: 40px;
  letter-spacing: 0.6px;
  margin-bottom: 10px;
  padding: 0px 10px;
  text-align: left;
  width: 192px;
}
* body .modal-dialog .modal-content .modal-body .form_container .form_input #datepicker {
  background-color: red;
}
* body .modal-dialog .modal-content .modal-body .form_container .form_input select {
  background-color: #EFF7FB;
  border-radius: 2px;
  border: none;
  color: #333333;
  display: block;
  font: normal 400 14px/17px 'Exo2-Regular';
  height: 40px;
  letter-spacing: 0.6px;
  margin-bottom: 10px;
  padding: 0px 10px;
  text-align: left;
  width: 192px;
}
* body .modal-dialog .modal-content .modal-body .redactor {
  display: block;
}
* body .modal-dialog .modal-content .modal-body .redactor textarea {
  background-color: #EFF7FB;
  border-radius: 2px;
  border: none;
  color: #333333;
  display: block;
  font: normal 400 14px/17px 'Exo2-Regular';
  height: 100px;
  letter-spacing: 0.6px;
  margin-bottom: 10px;
  overflow: auto;
  padding: 10px 10px;
  resize: none;
  text-align: left;
  width: 100%;
}
* body .modal-dialog .modal-content .modal-footer {
  border: none;
  padding: 22px 35px 35px 35px;
  text-align: justify;
}
* body .modal-dialog .modal-content .modal-footer::after {
  content: "";
  display: inline-block;
  width: 100%;
}
* body .modal-dialog .modal-content .modal-footer .cancel_btn {
  display: inline-block;
  vertical-align: top;
  background-color: #ffffff;
  width: 130px;
  height: 36px;
  color: #EF5353;
  font: normal 400 14px/8px 'Exo2-Regular';
  letter-spacing: 0.6px;
  margin: 0px 50px 0px 0px;
  border: none;
}
* body .modal-dialog .modal-content .modal-footer .save_btn {
  display: inline-block;
  vertical-align: top;
  background-color: #0085FF;
  width: 130px;
  height: 36px;
  color: #ffffff;
  font: normal 400 14px/8px 'Exo2-Regular';
  letter-spacing: 0.6px;
  border: none;
  border-radius: 2px;
  margin: 0px;
}
* body #delete_trainee_modal .modal-dialog {
  margin-top: 350px;
  max-width: 250px;
}
* body #delete_trainee_modal .modal-dialog .modal-content {
  border-radius: 25px;
}
* body #delete_trainee_modal .modal-dialog .modal-content .modal-body {
  padding: 0px;
  text-align: center;
}
* body #delete_trainee_modal .modal-dialog .modal-content .modal-body p {
  margin: 0px;
  padding: 20px 30px;
  font: normal 400 14px/17px 'Exo2-Regular';
  letter-spacing: 0.6px;
  border-bottom: solid 1px #D9D9D9;
}
* body #delete_trainee_modal .modal-dialog .modal-content .delete-modal-footer {
  text-align: center;
}
* body #delete_trainee_modal .modal-dialog .modal-content .delete-modal-footer .dm_confirm_btn {
  border: none;
  background-color: transparent;
  font: normal 400 14px/17px 'Exo2-Regular';
  letter-spacing: 0.6px;
  color: #0ACF83;
  padding: 20px 0px;
}
* body #delete_trainee_modal .modal-dialog .modal-content .delete-modal-footer .dm_cancel_btn {
  border: none;
  background-color: transparent;
  font: normal 400 14px/17px 'Exo2-Regular';
  letter-spacing: 0.6px;
  color: #EF5353;
}
